{% extends "conversations/base.html" %}

{% block header %}
  <h1>Your connections.</h1>
{% endblock header %}

{% block content %}
  <div class="modal-window connection"></div>
  
  <p><a id="new-connection">Create a new connection.</a></p>
  
  <ul id="connection-list">
    {% for connection in connections %}
      <li>
        <a data-connection-id="{{ connection.id }}">{{ connection }}</a>
      </li>
    {% empty %}
      <li>No connections have been created yet.</li>
    {% endfor %}
  </ul>
  
  {% load static %}
  <script src="{% static 'scripts/modal-window.js' %}"></script>
  <script src="{% static 'scripts/modal-connection.js' %}"></script>
  <script src="{% static 'scripts/modal-connection-new.js' %}"></script>
{% endblock content %}