{% extends "conversations/base.html" %}

{% block header %}
  <h1>Log in to your Shan-Chat account.</h1>
  <h3>Not registered yet? <a href="{% url 'users:register' %}">Sign up here</a>.</h3>
{% endblock header %}

{% block content %}
  <form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    
    <button name="submit">Log in</button>
    <input type="hidden" name="next" value="{% url 'conversations:conversations' %}" />
  </form>
{% endblock content %}