{% extends "conversations/base.html" %}

{% block header %}
  <h1>Create a new Shan-Chat account.</h1>
  <h3>Already have an account? <a href="{% url 'users:login' %}">Log in here</a>.</h3>
{% endblock header %}

{% block content %}

  <form method="post" action="{% url 'users:register' %}">
    {% csrf_token %}
    {{ form.as_p }}
    
    <button name="submit">Register</button>
    <input type="hidden" name="next" value="{% url 'conversations:conversations' %}" />
  </form>

{% endblock content %}