{% extends "conversations/base.html" %}

{% block header %}
  <h1 id="message">Edit your profile settings.</h1>
{% endblock header %}

{% block content %}

  <form id="settingsForm">
    {% csrf_token %}
    {{ settingsForm.as_p }}
    
    <button id="submitSettings">Confirm changes</button>
  </form>
  
  <form id="passwordForm">
    {% csrf_token %}
    {{ passwordForm.as_p }}
    
    <button id="submitPassword">Update password</button>
  </form>
  
  {% load static %}
  <script src="{% static 'scripts/settings.js' %}"></script>

{% endblock content %}