<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Shan-Chat</title>
    {% load static %}
    <script src="{% static 'scripts/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'scripts/js.cookie.js' %}"></script>
    <script src="{% static 'scripts/base.js' %}"></script>
  </head>
  
  <body>
    <nav>
      <ul>
        <li><a href="{% url 'conversations:index' %}">Shan-Chat</a></li>
      </ul>
      {% if user.is_authenticated %}
        <ul>
          <li><a href="{% url 'conversations:conversations' %}">Conversations</a></li>
          <li><a href="{% url 'connections:connections' %}">Connections</a></li>
        </ul>
        <ul>
          <li>{{ user.username }}</li>
          <li><a href="{% url 'users:settings' %}">Settings</a></li>
          <li><a href="{% url 'users:logout_view' %}">Log Out</a></li>
        </ul>
      {% else %}
        <ul>
          <li><a href="{% url 'users:register' %}">Register</a></li>
          <li><a href="{% url 'users:login' %}">Log In</a></li>
        </ul>
      {% endif %}
    </nav>
    
    {% block header %}{% endblock header %}
    {% block content %}{% endblock content %}
    
    
  </body>

</html>