{% extends "conversations/base.html" %}

{% block header %}
  <h1>Your conversations.</h1>
{% endblock header %}

{% block content %}
  <div class="modal-window connection"></div>
  <div class="modal-window conversation"></div>
  <div class="modal-window conversation-settings"></div>
  
  <p><a id="new-conversation" href="{% url 'conversations:new_conversation' %}">Start a new conversation.</a></p>
  
  <ul id="conversation-list">
    {% for conversation in conversations %}
      <li>
        <a data-conversation-id="{{ conversation.id }}">{{ conversation }}</a>
      </li>
    {% empty %}
      <li>You are not a part of any conversations yet.</li>
    {% endfor %}
  </ul>
  
  {% load static %}
  <script src="{% static 'scripts/modal-window.js' %}"></script>
  <script src="{% static 'scripts/modal-conversation.js' %}"></script>
{% endblock content %}